@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 1.3rem;
  background-color: #181A51;
  padding-top: 70px;
  min-height: 100vh;
  min-width: 300px;
  max-width: 300px;
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__link {
  color: #fff;
  margin-top: 10px;
}

.nav__link:hover {
  color: #C01E1E;
}

.nav__link:first-child {
  margin-top: 0;
}

.nav__link:last-child {
  margin-bottom: 20px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 30px;
}

.search__input {
  background: #E9F4FF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
  font-size: .9rem;
  min-height: 30px;
}

.search__btn {
  background: #5086BB;
  max-width: 55px;
  max-height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline-width: 0;
}

.search__btn > img {
  width: 70%;
  height: 70%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.social__link {
  max-width: 40px;
  max-height: 40px;
}

.social__link > img {
  height: 100%;
}

.wrap-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.enter-btn {
  font-size: 1.3rem;
  width: 100%;
  padding: 7px 0;
  border-radius: 10px;
  background: #5086BB;
  color: #fff;
}

.enter-btn:first-child {
  max-width: 156px;
  margin-bottom: 20px;
}

.enter-btn_disabled {
  display: none;
}

.burger {
  width: 50px;
  height: 50px;
  display: none;
}

.burger span,
.burger span:before,
.burger span:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.burger span:before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.burger span:after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.active span {
  height: 0;
  position: fixed;
}

.active span:before {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  background: #fff;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.active span:after {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background: #fff;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

@media (max-width: 1000px) {
  .sidebar {
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 21;
  }
  .sidebar > .burger {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 110px;
    right: 0;
    z-index: 2;
    background: #181A51;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.burger_active {
  top: 0;
  right: 60px;
  background: none;
  position: fixed;
}

.wrap-content {
  width: 100%;
}

header {
  width: 100%;
  border-bottom: 15px solid #181A51;
}

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo > a {
  color: #000;
}

body {
  background: #E9F4FF;
}

.main {
  margin: 70px auto;
  height: calc(100% - 341px);
}

.main__title {
  font-weight: bold;
}

.main__news {
  max-width: 400px;
  margin-top: 20px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  color: #181A51;
  border: solid #181A51;
}

.logo {
  font-weight: bold;
}

.box-news__item {
  max-width: 400px;
  min-width: 200px;
  width: 100%;
  margin-right: 15px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-news__title {
  margin: 0;
  color: #C01E1E;
}

.box-news__title:hover {
  color: #e03838;
}

.box-news__date {
  margin-left: 10px;
  color: #727272;
}

.box-news__img {
  width: 100%;
  height: 50%;
}

.box-news__subtitle {
  font-weight: bold;
  color: #000;
}

.box-news__text {
  height: 0;
  font-size: 0;
}

.wrap-info:hover .box-news__text {
  height: inherit;
  font-size: inherit;
}

.box-news .underline {
  border-bottom: 2px solid #000;
  padding-bottom: 30px;
}

.wrap-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap-info__link > span {
  display: block;
}

.wrap-info:hover .wrap-info__link > span, .wrap-info__link > span:hover {
  color: #C01E1E;
}

.wrap-img {
  position: relative;
}

.wrap-img:before {
  content: '';
  position: absolute;
  background: #0000005b;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.wrap-img:hover {
  -webkit-box-shadow: 0 2px 15px #181A51;
          box-shadow: 0 2px 15px #181A51;
}

.wrap-img:hover:before {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.box-article__wrap-info:hover .box-article__title {
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.box-article__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.box-article__last {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (min-content)[3];
      grid-template-columns: repeat(3, -webkit-min-content);
      grid-template-columns: repeat(3, min-content);
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 225px;
}

.box-article__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 200px;
  -webkit-transition: .3s;
  transition: .3s;
}

.box-article__link:hover {
  height: 220px;
  -webkit-transition: .3s;
  transition: .3s;
}

.box-article__img {
  height: 100%;
  width: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #727272;
}

.box-article__title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  min-width: 200px;
  max-width: 320px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  counter-reset: item;
}

.sub-list__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-list__item:before {
  content: '';
  content: counter(item) ".";
  counter-increment: item;
}

.sub-list__title {
  margin-right: auto;
  margin-left: 5px;
}

.sub-list__link {
  margin-left: 13px;
  color: #C01E1E;
}

.footer {
  background: #181A51;
  color: #fff;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
